<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>Moving Tiles</h1>
</div>
<div class="container flex-container">
  <div *ngFor="let image of imagesTop.hits" (click)="status=!status" [ngClass]="status ? 'large' : 'small'"  [ngStyle]="{'background-image':'url(' + image.webformatURL + ')'}">        
  </div>
  <div *ngFor="let image of imagesBottom.hits" (click)="status=!status" [ngClass]="status ? 'large' : 'small'"  [ngStyle]="{'background-image':'url(' + image.webformatURL + ')'}">      
  </div>
</div>

